html
{
    -webkit-text-size-adjust: none;    
}

body
{
    width: 100%; /* 页面宽度为显示器宽度 */ 
    margin: 0;
    letter-spacing: 1px; /* 字符间距1px */
    font-family: "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif; 
    /* 字体fallback */
}


/* ---顶端悬浮条--- */
.topbg /* 悬浮条背景 */
{
    width: 100%;
    height: 36px;
    position: fixed; /* 固定在顶部 */
    z-index: 3; /* 图层堆叠优先级最高 */
    background-color: #3d3d3d;
}
.top
{
    width: 1200px;
    height: 36px;
    margin: 0 auto;
    line-height: 36px;
    font-weight: 800; /* 适配 思源黑体Heavy 微软雅黑Bold */
    color: white;
    box-sizing: border-box; /* 指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制 */
}
.top div
{
    height: 36px;
    margin: 0;
    float: left;
    display: flex; 
    align-items: center; /* 设置垂直居中 */
}
.top img
{
    margin-right: 8px; /* 图标与右侧文字留出8px空隙 */
}
#contractinfo
{
    width: 695px;
}
#tel
{
    width: auto;
    padding-right: 20px;
}
#email
{
    width: auto;
}
#welcome
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
#user
{
    width: auto;
    float: right;
}
#login
{
    margin-right: 10px; /* “登录”及“注册”中间留出10px空隙 */
}
#user a
{
    color: #ffffff;
    text-decoration: none;
}
#user a:hover
{
    color: #1ba19d;
}
#user a:visited
{
    text-decoration: none;
}
/* ---顶端悬浮条--- */


/* ---侧边悬浮条--- */
.side
{
    width: 75px;
    height: 306px;
    margin-top: -153px;
    top: 50%;
    right: 0;
    position: fixed;
    z-index: 2;
}
.sidearea
{
    width: 75px;
    height: 92px;
    margin: 5px 0;
    background-color: #6d6c6c;
    color: #ffffff;
    box-sizing: border-box;
}
#sidepic
{
    height: 67px;
    padding-top: 9px;
    padding-bottom: 3px;
    top: 0;
    text-align: center;
    box-sizing: border-box;
}
#sidetext
{
    height: 25px;
    padding-top: 2px;
    padding-bottom: 9px;
    font-size: 14px;
    font-weight: 300; /* 适配 思源黑体Light 微软雅黑Light */ 
    line-height: 14px;
    text-align: center;
    box-sizing: border-box;
}
.popup /* 二维码弹窗 */
{
    width: 235px;
    height: 275px;
    margin-top: -235px;
    top: 50%;
    right: 75px;
    position: fixed;
    z-index: 2;
}
.qr
{
    width: 220px;
    height: 275px;
    margin: 0;
    border-radius: 20px;
    background-color: #137b78;
    float: left;
}
#wechatqr
{
    width: 220px;
    height: 204px;
    text-align: center;
    box-sizing: border-box;
}
#wechatqr img
{
    width: 180px;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 4px;
}
#saoma
{
    width: 220px;
    height: 71px;
    padding-top: 3px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 300; /* 适配 思源黑体Light 微软雅黑Light */ 
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
}
.arrow
{
    width: 15px;
    height: 275px;
    margin: 0;
    padding: 0;
    float: left;
    display: flex; 
    align-items: center;
}
#triangle /* 方向向右的三角形 */
{
    width: 0px;
    height: 0px;
    border-top: 14px solid transparent;
    border-left: 14px solid #137b78;
    border-bottom: 14px solid transparent;
}
/* ---侧边悬浮条--- */


/* ---标题栏--- */
.headbg /* 标题栏背景 */
{
    width: 100%;
    height: 120px;
    margin: 0;
}
.head
{
    width: 1200px;
    height: 120px;
    margin: auto;
    font-weight: 800; /* 适配 思源黑体Heavy 微软雅黑Bold */    
    box-sizing: border-box; /* 指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制 */
}
.head div
{
    display: flex;
    align-items: center; /* 设置垂直居中 */
}
.brand
{
    width: 347px;
    height: 120px;
    float: left;
}
.logo
{
    width: 87px;
    height: 120px;
    margin-right: 10px; /* logo与右侧文字留出10px空隙 */
}
#yechine
{
    width: 250px;
    height: 120px;
    display: block;
}
#brandname
{
    width: 250px;
    height: 45px;
    margin-top: 25px;
    margin-bottom: 4px;
    font-size: 45px;
    line-height: 45px;
}
#slogan
{
    width: 250px;
    height: 18px;
    margin-top: 3px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 18px;
}
.navi /* 导航栏 */
{
    height: 120px;
    float: right;
}
.navi ul
{
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}
.navi li
{
    margin: 10px;
    font-size: 18px;
    line-height: 18px;
    display: inline;
}
.navi a
{
    color: #000000;
    text-decoration: none;
}
.navi a:hover
{
    color: #6d6c6c;
}
.navi a:visited
{
    text-decoration: none;
}
#activepage
{
    color: #1ba19d;
}
/* ---标题栏--- */


/* ---banner+搜索--- */
.bannerbg
{
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    position: relative;
}
.banner
{
    width: 1366px;
    height: 376px;
    margin: auto;
    position: relative;
}
.search /* 搜索块 */
{
    width: 700px;
    height: 157px;
    margin-left: -350px;
    bottom: 0;
    left: 50%;
    position: absolute;
    z-index: 1;   
}
.search *
{
    letter-spacing: 2px; /* 字符间距改为2px */
    box-sizing: content-box;
}
.search form *
{
    float: left;
}
#searchall
{
    width: 700px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 15px;
}
#searchbyname
{
    width: 700px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}
.search button /* 搜索按钮 */
{
    width: 115px;
    height: 50px;
    border: 0;
    padding: 0;
    background-color:  #1ba19d;
    font-weight: 800; /* 适配 思源黑体Heavy 微软雅黑Bold */
    line-height: 50px;
    color: white;
}
#buttonpic
{
    width: 25px;
    height: 50px;
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
}
#searchpic
{
    width: 25px;
    height: 25px;
    margin: 0;
}
#buttontext
{
    width: 70px;
    height: 50px;
    margin: 0 10px 0 0;
    line-height: 50px;
    text-align: center;
}
.search input
{
    width: 585px;
    height: 50px;
    border: 0;
    padding: 0px 10px 0px 10px;
    font-weight: 200; /* 适配 思源黑体ExtraLight 微软雅黑Light */
    line-height: 50px;
    box-sizing: border-box;
}
#hot
{
    height: 12px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 200; /* 适配 思源黑体ExtraLight 微软雅黑Light */
    color: #ffffff;
}
#hot a
{
    color: #ffffff;
    text-decoration: none;
}
#hot a:hover
{
    color: #c6c6c6;
}
/* ---banner+搜索--- */


/* ---更多资讯--- */
.news
{
    width: 1200px;
    height: 400px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;  
    box-sizing: border-box; /* 指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制 */
}
.title
{
    height: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 800; /* 适配 思源黑体Heavy 微软雅黑Bold */
    line-height: 30px;
    text-align: center;
    color: #1ba19d;
}
.category
{
    width: 200px;
    height: 240px;
    float: left;
    box-sizing: border-box;
}
.category div
{
    width: 200px;
    height: 60px;
    border-style: solid;
    border-color: #c6c6c6;
    border-width: 2px 0 2px 2px;
    background-color: #3d3d3d;
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800; /* 适配 思源黑体Heavy 微软雅黑Bold */
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
}
#activetab
{
    background-color: #ffffff;
    color: #000000;
    box-sizing: border-box;
}
.briefs
{
    width: 1000px;
    height: 360px;
    border-style: solid;
    border-color: #c6c6c6;
    border-width: 2px;
    padding: 0 0 0 40px;
    position: relative;
    float: left;
    box-sizing: border-box;
}
.showbrief
{
    width: 956px;
    height: 356px;
    margin: 0;
    padding: 0;
    position: absolute;
}
.hiddenbrief
{
    width: 956px;
    height: 356px;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
}
.b
{
    width: 478px;
    height: 178px;
    float: left;
}
.b *
{
    float: left;
    box-sizing: border-box;
}
#bp 
{
    width: 190px;
    height: 178px;
    padding: 0 10px 0 0;
    position: relative;
}
#bp img
{
    width: 180px;
    height: auto;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
#bt
{
    width: 288px;
    height: 128px;
    padding: 25px 40px 0 0;
    font-size: 14px;
    font-weight: 300; /* 适配 思源黑体Light 微软雅黑Light */ 
    text-align: justify; /* 设置文本两端对齐 */
}
#learnmore
{
    width: 288px;
    height: 20px;
    padding: 0 40px 0 0;
    font-size: 14px;
    font-weight: 300; /* 适配 思源黑体Light 微软雅黑Light */ 
    color: #1ba19d;
}
#learnmore a
{
    color: #1ba19d;
    text-decoration: none;
    float: right;
}
#learnmore a:hover
{
    color: #6d6c6c;
}
/* ---更多资讯--- */


/* ---介绍--- */
.introduction
{
    width: 1200px;
    height: 240px;
    margin-top: 45px;
    margin-left: auto;
    margin-bottom: 75px;
    margin-right: auto;   
    box-sizing: border-box; /* 指定的任何内边距和边框都将在已设定的宽度和高度内进行绘制 */
}
.introduction *
{
    float: left;
    box-sizing: border-box;
}
.left
{
    width: 600px;
    height: 240px;
    border-top-color: #3d3d3d;
    border-top-style: solid;
    border-top-width: 2px;
    background-color: #ffffff;
}
.right
{
    width: 600px;
    height: 240px;
    padding-top: 2px;
    background-color: #3d3d3d;
    color: #ffffff;
}
.intro
{
    width: 300px;
    height: 119px;
}
#pic
{
    width: 30px;
    height: 119px;
    margin: 0 10px 0 35px;
    position: relative;
}
#pic img
{
    width: 30px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
#feature
{
    height: 25px;
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 800; /* 适配 思源黑体Heavy  微软雅黑Bold*/
    line-height: 25px;
    box-sizing: content-box;
}
#detail
{
    height: 14px;
    margin-top: 5px;
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 300; /* 适配 思源黑体Light 微软雅黑Light */ 
    line-height: 14px;
    box-sizing: content-box;
}
/* ---介绍--- */


/***适配宽度：1024px~1366px***/
@media screen and (max-width: 1366px)
{
    /* ---顶端悬浮条--- */
    .top
    {
        width: 960px;
    }
    #contractinfo
    {
        width: 575px;
    }
    /* ---顶端悬浮条--- */


    /* 标题栏 */
    .head
    {
        width: 960px;
    }
    /* 标题栏 */


    /* ---banner+搜索--- */
    .banner
    {
        width: 1024px;
        height: 282px;
    }
    .banner img
    {
        width: 1024px;
        height: 282px;
    }
    .search /* 搜索框 */
    {
        width: 560px;
        height: 128px;
        margin-left: -280px; 
    }
    .search *
    {
        letter-spacing: 1px; /* 字符间距改为1px */
    }
    #searchall
    {
        width: 560px;
        height: 40px;
        margin-bottom: 12px;
    }
    #searchbyname
    {
        width: 560px;
        height: 40px;
        margin-bottom: 8px;
    }
    .search button /* 搜索按钮 */
    {
        width: 92px;
        height: 40px;
        line-height: 40px;
    }
    #buttonpic
    {
        width: 20px;
        height: 40px;
        margin: 0 0 0 8px;
    }
    #searchpic
    {
        width: 20px;
        height: 20px;
    }
    #buttontext
    {
        width: 56px;
        height: 40px;
        margin: 0 8px 0 0;
        font-size: 12px;
        line-height: 40px;
    }
    .search input
    {
        width: 468px;
        height: 40px;
        padding: 0px 10px 0px 10px;
        font-size: 12px;
        line-height: 40px;
    }
    #hot
    {
        height: 12px;
        margin-bottom: 16px;
    }
    /* ---banner+搜索--- */


    /* ---更多资讯--- */
    .news
    {
        width: 960px;
        height: 360px;
    }
    .category
    {
        width: 160px;
        height: 200px;
    }
    .category div
    {
        width: 160px;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
    }
    .briefs
    {
        width: 800px;
        height: 320px;
        padding: 0 0 0 18px;
    }
    .showbrief
    {
        width: 778px;
        height: 316px;
    }
    .hiddenbrief
    {
        width: 778px;
        height: 316px;
    }
    .b
    {
        width: 389px;
        height: 158px;
    }
    #bp 
    {
        width: 168px;
        height: 158px;
        padding: 0 8px 0 0;
    }
    #bp img
    {
        width: 160px;
    }
    #bt
    {
        width: 221px;
        height: 110px;
        padding: 15px 18px 0 0;
        font-size: 12px;
    }
    #learnmore
    {
        width: 221px;
        height: 20px;
        padding: 0 18px 0 0;
        font-size: 12px;
    }
    /* ---更多资讯--- */


    /* ---介绍--- */
    .introduction
    {
        width: 960px;
        height: 480px;
    }
    .left
    {
        width: 960px;
    }
    .right
    {
        width: 960px;
    }
    .intro
    {
        width: 480px;
    }
    #pic
    {
        width: 30px;
        margin: 0 10px 0 125px;
    }
    #feature
    {
        width: 315px;
    }
    #detail
    {
        width: 315px;
    }
    /* ---介绍--- */
}


/***适配1024px以下宽度***/
@media screen and (max-width: 1024px)
{
    /* ---顶端悬浮条--- */
    .top
    {
        width: 800px;
    }
    #contractinfo
    {
        width: 495px;
    }
    /* ---顶端悬浮条--- */


    /* ---标题栏--- */
    .headbg /* 标题栏背景 */
    {
        height: 170px;
    }
    .head
    {
        width: 800px;
        height: 170px;
        margin: auto;
    }
    .brand
    {
        width: 280px;
        height: 115px;
        margin: auto;
        float: none;
    }
    .logo
    {
        width: 85px;
        height: 85px;
        margin-right: 0; /* logo与右侧文字不留出空隙 */
    }
    .logo img
    {
        width: 85px;
        height: 85px;
    }
    #yechine
    {
        width: 195px;
        height: 85px;
    }
    #brandname
    {
        width: 195px;
        height: 60px;
        margin-top: 0;
        margin-bottom: 6px;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
        display: block;
    }
    #slogan
    {
        width: 195px;
        height: 14px;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 14px;
    }
    .navi /* 导航栏 */
    {
        width: 800px;
        height: 55px;
        padding: 15px auto;
        box-sizing: border-box;
        float: none;
    }
    .navi ul
    {
        height: 25px;
        margin-right: auto;
        margin-left: auto;
    }
    .navi a
    {
        color: #000000;
        text-decoration: none;
    }
    .navi a:hover
    {
        color: #6d6c6c;
    }
    .navi a:visited
    {
        text-decoration: none;
    }
    #activepage
    {
        color: #1ba19d;
    }
    /* ---标题栏--- */


    /* ---banner+搜索--- */
    .banner
    {
        width: 800px;
        height: 225px;
    }
    .banner img
    {
        width: 800px;
        height: 225px;
    }
    /* ---banner+搜索--- */


    /* ---更多资讯--- */
    .news
    {
        width: 800px;
        height: 320px;
    }
    .category
    {
        width: 120px;
        height: 160px;
    }
    .category div
    {
        width: 120px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
    .briefs
    {
        width: 680px;
        height: 280px;
        padding: 0 0 0 14px;
    }
    .showbrief
    {
        width: 662px;
        height: 276px;
    }
    .hiddenbrief
    {
        width: 662px;
        height: 276px;
    }
    .b
    {
        width: 331px;
        height: 138px;
    }
    #bp 
    {
        width: 145px;
        height: 138px;
        padding: 0 5px 0 0;
    }
    #bp img
    {
        width: 140px;
    }
    #bt
    {
        width: 186px;
        height: 110px;
        padding: 14px 14px 0 0;
        font-size: 12px;
    }
    #learnmore
    {
        width: 186px;
        height: 20px;
        padding: 0 14px 0 0;
        font-size: 12px;
    }
    /* ---更多资讯--- */


    /* ---介绍--- */
    .introduction
    {
        width: 800px;
        height: 480px;
    }
    .left
    {
        width: 800px;
    }
    .right
    {
        width: 800px;
    }
    .intro
    {
        width: 400px;
    }
    #pic
    {
        width: 30px;
        margin: 0 10px 0 85px;
    }
    #feature
    {
        width: 275px;
    }
    #detail
    {
        width: 275px;
    }
    /* ---介绍--- */
}